{#
/**
 * @file
 * Default theme implementation of a responsive image field.
 *
 * Available variables:
 * - output_image: A boolean indicating whether the img tag should be output.
 * - default_image: The default image rendered as an <img> tag.
 * - sources: The attributes of the <source> tags for this <picture> tag.
 *
 * @ingroup themeable
 */
#}
{% if output_image %}
  {{ default_image }}
{% else %}
  <picture>
    {% if sources %}
      {% for source_attributes in sources %}
        <source{{ source_attributes }}/>
      {% endfor %}
    {% endif %}
    {{ default_image }}
  </picture>
{% endif %}
