{#
/**
 * @file
 * Default theme implementation for responsive image field style information table.
 *
 * Available variables:
 * - multiplier: Applied breakpoint multiplier.
 * - effects: Effects applied for image styles in breakpoint.
 * - type: Type of breakpoint.
 * - sizes: Sizes of breakpoint.
 * - image_styles: List of image styles applied for breakpoint
 *
 * @ingroup themeable
 */
#}
<table>
  <tbody>
    <tr>
      <td>
        <strong>{{ 'Multiplier: '|t }}</strong>
      </td>
      <td>{{ multiplier }}</td>
    </tr>
    {% if type == 'image_style' and effects is not empty %}
      <tr>
        <td>
          <strong>{{ 'Effects:'|t }}</strong>
        </td>
        <td>
          <ul>
            {% for effect in effects %}
              <li>{{ effect.label }} {{ effect.summary }}</li>
            {% endfor %}
          </ul>
        </td>
      </tr>
    {% endif %}
    {% if type == 'sizes' %}
      <tr>
        <td>
          <strong>{{ 'Sizes:'|t }}</strong>
        </td>
        <td>{{ sizes }}</td>
      </tr>
      <tr>
        <td>
          <strong>{{ 'Effects:'|t }}</strong>
        </td>
        <td>
          {% for style in image_styles %}
            {{ effects[style][0].title }}
            <ul>
              {% for effect in effects[style] %}
                <li>{{ effect.label }} {{ effect.summary }}</li>
              {% endfor %}
            </ul>
          {% endfor %}
        </td>
      </tr>
    {% endif %}
  </tbody>
</table>
